@media (min-width: 640px) {
    .nav-list{
        margin: 0 -10px;
        margin-left: auto;
    }
    .media a{    
        margin: 10px 0;
        flex:0 1 auto;    
    }
 
}

@media (min-width: 768px) {
    body{
        font-size: 1rem;
    }
  
}

@media (min-width: 1024px) {
    .nav{
        margin-bottom: 4rem;
    }
    .partners > figure {   
        margin: 0 20px;
        flex: 1;        
    }
    .header {
        flex-flow: wrap;
        margin-right: 2rem;
    }
    .header > .btn{
        margin-right: 20px;        
    }
    main{      
        grid-template-columns: 1fr 1fr 1fr;       
    }
    .col-full{
        grid-column: 1 / -1;
    }
    .col-two-thirds{
        grid-column: 1 / 3;       
    }
    .card{      
        flex-flow: row wrap;       
        padding: 1rem;      
    }
    .lead-intro {    
        font-size: 2rem;
    }
    .card-body{
        margin-left: 15px;;
    }
}

@media (min-width: 1280px) {
    .header{       
        margin-right: 5rem;
    }
    
}