@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');
@import url(reset.css);
@import url(variables.css);
body{
    margin: 0;
    background: #f5f5f5;   
    line-height: 1.25;
    font-size: .8rem;   
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: var(--black);
}
figure {
    margin: 0;
}
figcaption {
    font-size: 0.75rem;
    text-align: center;
    color: var(--black);
}
a {
    text-decoration: none;
    color: var(--blue);
}
hr { 
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.brand{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    
}
.brand img{
    margin-right: 12px;
    height: 40px;
}

.profile-img img{
    border-radius: 4px;
}
.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
.nav{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    margin-bottom: 2rem;
}
.nav-list{
    padding: 0;
    margin: 10px -10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}
.nav-item > a{
    color: var(--black);
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.75rem;
}
.push-right {
    margin-left: auto;
  }
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:15px;
}
.col-full {
    grid-column: 1 / -1;
}
.col-two-thirds {
    grid-column: 1 / 1;   
}

.img-responsive {
    height: auto;
    width: 100%;
}

.lead {
    margin-bottom: 2rem;    
}

.header {
    display: flex;
    flex-direction: column;
}
.header > .btn {
    margin-bottom: 20px;
    
}
.lead-intro {    
    font-size: 1.5rem;
    padding-bottom: .5rem;
    display: inline-block;    
}
button, .btn {
    background: var(--blue);
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid var(--blue);
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;

}
button:hover{
    cursor: pointer;
}
.btn-outline {
    background: none;
    color: var(--blue);
    border: 1px solid var(--blue);
}
.btn-small {
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem;
}
.margin-top {
    margin-top: 2rem;
}
.card {
    display: flex;
    flex-flow: column wrap;
    background: white;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
  
}
.card > figure {
    padding: .5rem;
    flex:1;
    
}
.card > figure img {
    border-radius: 4px;
}
.card-body {
    padding: .5rem;
    flex: 1;
}
.meta {
    font-size: .7rem;
    color: var(--black);
    margin-bottom: 1rem;
}
.media {
    display: flex;
    flex-flow: wrap;
    align-items: center;    
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px; 
    margin-bottom: 20px;
}
 .media:last-child {
    border-bottom: 0;
}

.media img {
    border-radius: 4px;
    margin-right: 10px;
    flex:1;
    
}
.media-content {
    flex:1;
    margin-left: 20px;
}
.media-content h4 {
    font-size: .75rem;    
    
}
.media-content p { 
    font-size: .7rem;
    margin: 0;
}
.media a {    
    margin: 10px 0;
    flex:1 1 auto;    
}
.partners {
    display: flex;
    flex-flow: wrap;
    margin: 0 -15px;
}
.partners > figure {    
    margin: 0 15px;
    flex: 1 1 calc(100%/4);    
}
.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
}
.copyright {
    font-size: 0.75rem;
    margin-top: 5px;    
}

.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.1); 
}
@media (min-width: 640px) {
    .nav-list{
        margin: 0 -10px;
        margin-left: auto;
    }
    .media a{    
        margin: 10px 0;
        flex:0 1 auto;    
    }
 
}

@media (min-width: 768px) {
    body{
        font-size: 1rem;
    }
  
}

@media (min-width: 1024px) {
    .nav{
        margin-bottom: 4rem;
    }
    .partners > figure {   
        margin: 0 20px;
        flex: 1;        
    }
    .header {
        flex-flow: wrap;
        margin-right: 2rem;
    }
    .header > .btn{
        margin-right: 20px;        
    }
    main{      
        grid-template-columns: 1fr 1fr 1fr;       
    }
    .col-full{
        grid-column: 1 / -1;
    }
    .col-two-thirds{
        grid-column: 1 / 3;       
    }
    .card{      
        flex-flow: row wrap;       
        padding: 1rem;      
    }
    .lead-intro {    
        font-size: 2rem;
    }
    .card-body{
        margin-left: 15px;;
    }
}

@media (min-width: 1280px) {
    .header{       
        margin-right: 5rem;
    }
    
}
